Repository eightmen/experi-ncias, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasparus, @atanasster, @lachlanjc, @beerose

.github/CODEOWNERS:

# Hi there!
# If you're using one of Theme UI packages a lot, and you would like to help
# maintaining it, let us know on our Discord https://discord.gg/U5sQYcuaj2.
# As you can see below, there are tons of packages here, and they are always
# looking for maintainers. The more the merrier!

**/types.ts @hasparus
**/types.tsx @hasparus

packages/color @hasparus
packages/color-modes @hasparus
packages/components @atanasster
packages/core @hasparus
packages/css @hasparus
packages/custom-properties @hasparus
packages/docs @lachlanjc @hasparus
# packages/gatsby-plugin-theme-ui looking for maintainers! 
# packages/gatsby-theme-style-guide looking for maintainers!
# packages/gatsby-theme-ui-layout looking for maintainers!
packages/match-media @hasparus
packages/mdx @hasparus
packages/parse-props @hasparus
packages/preset-base @hasparus
packages/preset-bootstrap @hasparus
packages/preset-bulma @hasparus
packages/preset-dark @hasparus
packages/preset-deep @hasparus
packages/preset-funk @hasparus
packages/preset-future @hasparus
packages/preset-polaris @hasparus
packages/preset-roboto @hasparus
packages/presets @hasparus
packages/preset-sketchy @hasparus @beerose
packages/preset-swiss @hasparus
packages/preset-system @hasparus
packages/preset-tailwind @hasparus
packages/preset-tosh @hasparus
packages/prism @hasparus
packages/sidenav @hasparus
packages/style-guide @hasparus
packages/tachyons @hasparus
packages/tailwind @hasparus
packages/test-utils @hasparus
packages/theme-provider @hasparus
packages/theme-ui @hasparus
packages/typography @hasparus

# examples/codesandbox-starter
# examples/create-react-app
# examples/custom-pragma
# examples/dark-mode
# examples/gatsby
# examples/gatsby-plugin

examples/next @lachlanjc

# examples/prism 
# examples/typography

Update attribution
  .github/dependabot.yml
Owners: none

Rev version
  .github/dependabot.yml
  .github/validate-codeowners.sh
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e.yml
  .husky/_/husky.sh
  CHANGELOG.md
Owners: none

Fix broken unit test
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Owners: none

Releasing 1.0.0
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Owners: none

More i18n
  CONTRIBUTING.md
  LICENSE.md
  MIGRATING.md
  auto.config.ts
  babel.config.js
  codechecks.yml
  examples/gatsby/gatsby-browser.js
  examples/gatsby/gatsby-config.js
  examples/gatsby/gatsby-ssr.js
Owners: none

changed css
  examples/gatsby/gatsby-ssr.js
  examples/gatsby/package.json
  examples/gatsby/src/index.tsx
  examples/gatsby/src/layout.tsx
  examples/gatsby/src/pages/index.mdx
  examples/gatsby/src/theme.ts
Owners: none

media: hdpvr: fix two audio bugs
  examples/gatsby-plugin/gatsby-config.js
  examples/gatsby-plugin/package.json
  examples/gatsby-plugin/src/gatsby-plugin-theme-ui/index.js
  examples/gatsby-plugin/src/layout.js
  examples/gatsby-plugin/src/pages/index.mdx
  examples/gatsby/src/theme.ts
  examples/gatsby/tsconfig.json
  examples/next/components/Header.tsx
  examples/next/components/about.mdx
  examples/next/lib/mdx.d.ts
  examples/next/lib/theme.ts
Owners: @lachlanjc

tbs
  examples/next/lib/theme.ts
  examples/next/next-env.d.ts
  examples/next/next.config.js
  examples/next/package.json
  examples/next/pages/_app.tsx
  examples/next/pages/_document.tsx
  examples/next/pages/index.tsx
  examples/next/tsconfig.json
Owners: @lachlanjc

things
  examples/next/tsconfig.json
  examples/prism/gatsby-browser.js
  examples/prism/gatsby-config.js
  examples/prism/gatsby-ssr.js
  examples/prism/package.json
  examples/prism/src/index.js
  examples/prism/src/layout.js
  examples/prism/src/pages/index.mdx
  examples/prism/src/theme.js
  examples/typography/gatsby-browser.js
  examples/typography/gatsby-config.js
  examples/typography/gatsby-ssr.js
  examples/typography/package.json
Owners: @lachlanjc

Update changelog.asciidoc
  examples/typography/package.json
  examples/typography/src/index.tsx
  examples/typography/src/layout.tsx
  examples/typography/src/pages/index.mdx
  examples/typography/src/theme.tsx
  examples/typography/tsconfig.json
  jest-preprocess.js
  jest.config.js
  lint-staged.config.js
  package.json
  packages/color/CHANGELOG.md
Owners: @hasparus

Update code example
  packages/color/CHANGELOG.md
Owners: @hasparus

added a note
  packages/color/CHANGELOG.md
Owners: @hasparus

Bump version to 1.1.1.
  packages/color/CHANGELOG.md
Owners: @hasparus

convert Link<> to typed
  packages/color/CHANGELOG.md
  packages/color/README.md
  packages/color/package.json
  packages/color/src/index.ts
Owners: @hasparus

simplify condition
  packages/color/src/index.ts
  packages/color/test/index.tsx
Owners: @hasparus

Create licence.md
  packages/color-modes/CHANGELOG.md
  packages/color/test/index.tsx
Owners: @hasparus

added my file
  packages/color-modes/CHANGELOG.md
Owners: @hasparus

add autoload
  packages/color-modes/CHANGELOG.md
Owners: @hasparus

updated nugets
  packages/color-modes/CHANGELOG.md
Owners: @hasparus

Satisfy rubocop
  packages/color-modes/CHANGELOG.md
  packages/color-modes/README.md
  packages/color-modes/package.json
  packages/color-modes/src/custom-properties.ts
Owners: @hasparus

Update controller
  packages/color-modes/src/custom-properties.ts
  packages/color-modes/src/index.tsx
  packages/color-modes/test/__snapshots__/index.tsx.snap
  packages/color-modes/test/custom-properties.tsx
Owners: @hasparus

silence warnings
  packages/color-modes/test/custom-properties.tsx
Owners: @hasparus

AUTOMERGE SVN MASTER REV583
  packages/color-modes/test/custom-properties.tsx
Owners: @hasparus

push dev & production copies of styles.css to GitHub
  packages/color-modes/test/custom-properties.tsx
Owners: @hasparus

0.2.23
  packages/color-modes/test/custom-properties.tsx
  packages/color-modes/test/index.tsx
Owners: @hasparus

UI refactoring
  packages/color-modes/test/index.tsx
Owners: @hasparus

Moved files around.
  packages/color-modes/test/index.tsx
Owners: @hasparus

Update 6
  packages/color-modes/test/index.tsx
Owners: @hasparus

iov_iter: hide iovec details behind ops function pointers
  packages/color-modes/test/index.tsx
Owners: @hasparus

#Linux# Fix error return code
  packages/color-modes/test/index.tsx
Owners: @hasparus

Playing
  packages/color-modes/test/index.tsx
Owners: @hasparus

Updated MAINTAINERS file [CI SKIP]
  packages/color-modes/test/index.tsx
Owners: @hasparus

removed duplicate files
  packages/color-modes/test/index.tsx
Owners: @hasparus

fixing license
  packages/color-modes/test/index.tsx
Owners: @hasparus

landing
  packages/color-modes/test/index.tsx
Owners: @hasparus

removed project files
  packages/color-modes/test/index.tsx
Owners: @hasparus

fix test failure
  packages/color-modes/test/index.tsx
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/package.json
Owners: @hasparus, @atanasster

Minor enhancements.
  packages/components/package.json
  packages/components/src/Alert.tsx
  packages/components/src/AspectImage.tsx
  packages/components/src/AspectRatio.tsx
Owners: @atanasster

version 0.4.1
  packages/components/src/AspectRatio.tsx
  packages/components/src/Avatar.tsx
  packages/components/src/Badge.tsx
  packages/components/src/Box.tsx
  packages/components/src/Button.tsx
Owners: @atanasster

i2400m: add Intel 6150 device IDs
  packages/components/src/Button.tsx
  packages/components/src/Card.tsx
  packages/components/src/Checkbox.tsx
  packages/components/src/Close.tsx
  packages/components/src/Container.tsx
  packages/components/src/Divider.tsx
Owners: @atanasster
