Repository eightmen/experi-ncias, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasparus, @atanasster, @lachlanjc, @beerose

pch_uart: fix a deadlock when pch_uart as console
  packages/css/src/types.ts
Owners: @hasparus

(XMB) Cleanups
  packages/css/src/types.ts
Owners: @hasparus

Fix compilation issues
  packages/css/src/types.ts
Owners: @hasparus

post commit
  packages/css/src/types.ts
Owners: @hasparus

Added link to demo
  packages/css/src/types.ts
Owners: @hasparus

Update filter
  packages/css/src/types.ts
Owners: @hasparus

Global build commit.
  packages/css/src/types.ts
Owners: @hasparus

change category
  packages/css/src/types.ts
Owners: @hasparus

ui updated
  packages/css/src/types.ts
Owners: @hasparus

remove unused view
  packages/css/src/types.ts
Owners: @hasparus

Fixes #18
  packages/css/src/types.ts
Owners: @hasparus

Auto-merge from mysql-5.1.
  packages/css/src/types.ts
Owners: @hasparus

Website
  packages/css/src/types.ts
Owners: @hasparus

code refactored
  packages/css/src/types.ts
Owners: @hasparus

intel-iommu: fix off-by-one in pagetable freeing
  packages/css/src/types.ts
  packages/css/src/utils.ts
  packages/css/test/errors-and-inference.ts
  packages/css/test/index.ts
Owners: @hasparus

Update videos.js
  packages/css/test/index.ts
Owners: @hasparus

edit
  packages/css/test/index.ts
Owners: @hasparus

Translation updates.
  packages/css/test/index.ts
Owners: @hasparus

Update to recommended settings
  packages/css/test/index.ts
Owners: @hasparus

I'm stupid
  packages/css/test/index.ts
Owners: @hasparus

mwifiex: fix typo in PCIe adapter NULL check
  packages/css/test/index.ts
Owners: @hasparus

fixed markup
  packages/css/test/index.ts
Owners: @hasparus

bundle gem
  packages/css/test/index.ts
  packages/css/test/past-bugs.ts
  packages/css/test/utils.ts
Owners: @hasparus

traduction
  packages/css/test/utils.ts
  packages/css/utils/package.json
  packages/custom-properties/CHANGELOG.md
  packages/custom-properties/README.md
  packages/custom-properties/package.json
  packages/custom-properties/src/index.ts
Owners: @hasparus

huge refactor
  packages/custom-properties/src/index.ts
  packages/custom-properties/test/__snapshots__/test.mjs.snap
Owners: @hasparus

Sending translation for Dutch
  packages/custom-properties/test/__snapshots__/test.mjs.snap
  packages/custom-properties/test/test.mjs
Owners: @hasparus

add paper
  packages/custom-properties/test/test.mjs
  packages/docs/declarations.d.ts
  packages/docs/gatsby-browser.js
  packages/docs/gatsby-config.js
  packages/docs/gatsby-node.js
  packages/docs/gatsby-ssr.js
  packages/docs/jsconfig.json
  packages/docs/package.json
Owners: @hasparus, @lachlanjc

patches
  packages/docs/package.json
Owners: @lachlanjc, @hasparus

mm/slab: Fix /proc/slabinfo unwriteable for slab
  packages/docs/package.json
  packages/docs/scripts/svg-logo.js
Owners: @lachlanjc, @hasparus

sol.
  packages/docs/scripts/svg-logo.js
  packages/docs/src/components/banner.js
  packages/docs/src/components/cards.js
  packages/docs/src/components/code.js
  packages/docs/src/components/color-keys.mdx
Owners: @lachlanjc, @hasparus

Deleted unused file
  packages/docs/src/components/color-keys.mdx
  packages/docs/src/components/components.mdx
  packages/docs/src/components/debug-theme.js
  packages/docs/src/components/edit-link.js
  packages/docs/src/components/google-fonts.js
  packages/docs/src/components/graph.js
  packages/docs/src/components/head.js
  packages/docs/src/components/intro-code-samples/index.js
Owners: @lachlanjc, @hasparus

1.12.2
  packages/docs/src/components/intro-code-samples/index.js
  packages/docs/src/components/intro-code-samples/snippets/basic-usage.tsx
  packages/docs/src/components/intro-code-samples/snippets/theme.tsx
  packages/docs/src/components/layout.js
Owners: @lachlanjc, @hasparus

Add installation instructions
  packages/docs/src/components/layout.js
Owners: @lachlanjc, @hasparus

staging: r8712u: Add new device ID
  packages/docs/src/components/layout.js
Owners: @lachlanjc, @hasparus

Update example.css
  packages/docs/src/components/layout.js
  packages/docs/src/components/logo.js
  packages/docs/src/components/lorem.mdx
  packages/docs/src/components/menu-button.js
  packages/docs/src/components/nav-link.js
  packages/docs/src/components/note.js
  packages/docs/src/components/og-image.js
Owners: @lachlanjc, @hasparus

Update fortnite.html
  packages/docs/src/components/og-image.js
  packages/docs/src/components/pagination.js
  packages/docs/src/components/preset.js
  packages/docs/src/components/presets-demo.js
Owners: @lachlanjc, @hasparus

Solved conflicts
  packages/docs/src/components/presets-demo.js
  packages/docs/src/components/readme-badges.js
Owners: @lachlanjc, @hasparus

rename parameters
  packages/docs/src/components/readme-badges.js
Owners: @lachlanjc, @hasparus

portfolio updated via TUNE
  packages/docs/src/components/readme-badges.js
  packages/docs/src/components/search-input.js
  packages/docs/src/components/skip-link.js
  packages/docs/src/components/theme-scales.js
  packages/docs/src/components/tiles.js
  packages/docs/src/components/typography-layout.js
Owners: @lachlanjc, @hasparus

Fix integration test
  packages/docs/src/components/typography-layout.js
  packages/docs/src/components/typography-themes.js
  packages/docs/src/gatsby-plugin-theme-ui/components.js
Owners: @lachlanjc, @hasparus

.github/CODEOWNERS:

# Hi there!
# If you're using one of Theme UI packages a lot, and you would like to help
# maintaining it, let us know on our Discord https://discord.gg/U5sQYcuaj2.
# As you can see below, there are tons of packages here, and they are always
# looking for maintainers. The more the merrier!

**/types.ts @hasparus
**/types.tsx @hasparus

packages/color @hasparus
packages/color-modes @hasparus
packages/components @atanasster
packages/core @hasparus
packages/css @hasparus
packages/custom-properties @hasparus
packages/docs @lachlanjc @hasparus
# packages/gatsby-plugin-theme-ui looking for maintainers! 
# packages/gatsby-theme-style-guide looking for maintainers!
# packages/gatsby-theme-ui-layout looking for maintainers!
packages/match-media @hasparus
packages/mdx @hasparus
packages/parse-props @hasparus
packages/preset-base @hasparus
packages/preset-bootstrap @hasparus
packages/preset-bulma @hasparus
packages/preset-dark @hasparus
packages/preset-deep @hasparus
packages/preset-funk @hasparus
packages/preset-future @hasparus
packages/preset-polaris @hasparus
packages/preset-roboto @hasparus
packages/presets @hasparus
packages/preset-sketchy @hasparus @beerose
packages/preset-swiss @hasparus
packages/preset-system @hasparus
packages/preset-tailwind @hasparus
packages/preset-tosh @hasparus
packages/prism @hasparus
packages/sidenav @hasparus
packages/style-guide @hasparus
packages/tachyons @hasparus
packages/tailwind @hasparus
packages/test-utils @hasparus
packages/theme-provider @hasparus
packages/theme-ui @hasparus
packages/typography @hasparus

# examples/codesandbox-starter
# examples/create-react-app
# examples/custom-pragma
# examples/dark-mode
# examples/gatsby
# examples/gatsby-plugin

examples/next @lachlanjc

# examples/prism 
# examples/typography
