Repository eightmen/experi-ncias, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasparus, @atanasster, @lachlanjc, @beerose

Fix another warning
  packages/docs/src/pages/recipes/stack.mdx
  packages/docs/src/pages/recipes/tiled-layout.mdx
  packages/docs/src/pages/resources.mdx
  packages/docs/src/pages/static-css.mdx
  packages/docs/src/pages/styled.mdx
  packages/docs/src/pages/sx-prop.mdx
  packages/docs/src/pages/testimonials.mdx
Owners: @lachlanjc, @hasparus

cleanup and fixes
  packages/docs/src/pages/testimonials.mdx
  packages/docs/src/pages/theme-spec.mdx
Owners: @lachlanjc, @hasparus

update copyright notice / whitespace
  packages/docs/src/pages/theme-spec.mdx
Owners: @lachlanjc, @hasparus

Update index.ftl
  packages/docs/src/pages/theme-spec.mdx
Owners: @lachlanjc, @hasparus

updating various translations
  packages/docs/src/pages/theme-spec.mdx
Owners: @lachlanjc, @hasparus

eval
  packages/docs/src/pages/theme-spec.mdx
  packages/docs/src/pages/theming.mdx
Owners: @lachlanjc, @hasparus

Update predatory.txt
  packages/docs/src/pages/theming.mdx
  packages/docs/src/templates/preset.js
  packages/docs/static/card.svg
  packages/docs/static/logo.svg
Owners: @lachlanjc, @hasparus

Documenting...
  packages/docs/static/logo.svg
  packages/e2e/cypress.config.js
  packages/e2e/integration/docs-color-modes.ts
  packages/e2e/integration/docs-navigation.ts
Owners: @lachlanjc, @hasparus

push new version
  packages/e2e/integration/docs-navigation.ts
  packages/e2e/package.json
  packages/e2e/plugins.js
  packages/e2e/support.ts
Owners: none

vbump
  packages/e2e/support.ts
  packages/e2e/tsconfig.json
  packages/gatsby-plugin-theme-ui/CHANGELOG.md
  packages/gatsby-plugin-theme-ui/README.md
  packages/gatsby-plugin-theme-ui/gatsby-browser.js
  packages/gatsby-plugin-theme-ui/gatsby-node.js
Owners: none

PDO/DataObject/Introspection/mysql.php
  packages/gatsby-plugin-theme-ui/gatsby-node.js
  packages/gatsby-plugin-theme-ui/gatsby-ssr.js
  packages/gatsby-plugin-theme-ui/index.js
  packages/gatsby-plugin-theme-ui/package.json
  packages/gatsby-plugin-theme-ui/src/components.js
  packages/gatsby-plugin-theme-ui/src/hooks/configOptions.js
  packages/gatsby-plugin-theme-ui/src/index.js
  packages/gatsby-plugin-theme-ui/src/provider.js
Owners: none

delete unused files
  packages/gatsby-plugin-theme-ui/src/provider.js
  packages/gatsby-plugin-theme-ui/test/__mocks__/gatsby.js
  packages/gatsby-plugin-theme-ui/test/provider.js
Owners: none

add logic
  packages/gatsby-plugin-theme-ui/test/provider.js
  packages/gatsby-plugin-theme-ui/utils/preset-dictionary.js
  packages/gatsby-theme-style-guide/CHANGELOG.md
  packages/gatsby-theme-style-guide/README.md
Owners: none

Improve the readme
  packages/gatsby-theme-style-guide/README.md
  packages/gatsby-theme-style-guide/gatsby-config.js
  packages/gatsby-theme-style-guide/gatsby-node.js
  packages/gatsby-theme-style-guide/index.js
  packages/gatsby-theme-style-guide/package.json
  packages/gatsby-theme-style-guide/src/colors.js
  packages/gatsby-theme-style-guide/src/header.js
  packages/gatsby-theme-style-guide/src/index.js
  packages/gatsby-theme-style-guide/src/layout.js
  packages/gatsby-theme-style-guide/src/template.js
  packages/gatsby-theme-style-guide/src/typography.js
Owners: none

merge parent
  packages/gatsby-theme-style-guide/src/typography.js
  packages/gatsby-theme-ui-layout/CHANGELOG.md
Owners: none

can: flexcan: use be32_to_cpup to handle the value of dt entry
  packages/gatsby-theme-ui-layout/CHANGELOG.md
Owners: none

new url
  packages/gatsby-theme-ui-layout/CHANGELOG.md
  packages/gatsby-theme-ui-layout/README.md
  packages/gatsby-theme-ui-layout/index.js
  packages/gatsby-theme-ui-layout/package.json
  packages/gatsby-theme-ui-layout/src/index.js
  packages/gatsby-theme-ui-layout/src/layout.js
  packages/global/README.md
  packages/global/package.json
  packages/global/src/index.tsx
  packages/global/test/__snapshots__/index.tsx.snap
Owners: none

Revert "changes"
  packages/global/test/__snapshots__/index.tsx.snap
  packages/global/test/index.tsx
  packages/match-media/CHANGELOG.md
  packages/match-media/README.md
Owners: @hasparus

jsdoc
  packages/match-media/README.md
  packages/match-media/package.json
  packages/match-media/src/index.ts
  packages/match-media/test/index.tsx
Owners: @hasparus

changes to bio
  packages/match-media/test/index.tsx
Owners: @hasparus

Version 7
  packages/match-media/test/index.tsx
  packages/match-media/test/ssr.tsx
Owners: @hasparus

Remove post
  packages/match-media/test/ssr.tsx
  packages/mdx/CHANGELOG.md
  packages/mdx/README.md
  packages/mdx/package.json
Owners: @hasparus

add heroku
  packages/mdx/package.json
  packages/mdx/src/Themed.tsx
Owners: @hasparus

Convert to typescript
  packages/mdx/src/Themed.tsx
  packages/mdx/src/index.tsx
Owners: @hasparus

swift 4.2
  packages/mdx/src/index.tsx
  packages/mdx/src/useThemeStylesWithMdx.tsx
  packages/mdx/src/wrapComponentsWithThemeStyles.tsx
  packages/mdx/test/Themed.tsx
Owners: @hasparus

Changes to readme
  packages/mdx/test/Themed.tsx
  packages/mdx/test/__test-utils__/evalMdx.mjs
  packages/mdx/test/defaultMdxComponents-mdx-v2.mjs
Owners: @hasparus

Add Travis CI.
  packages/mdx/test/defaultMdxComponents-mdx-v2.mjs
  packages/mdx/test/defaultMdxComponents.tsx
  packages/mdx/test/index.tsx
  packages/mdx/test/useThemedStylesWithMdx-mdx-v2.mjs
Owners: @hasparus

Updated gemfile.lock
  packages/mdx/test/useThemedStylesWithMdx-mdx-v2.mjs
Owners: @hasparus

Upgrade rails
  packages/mdx/test/useThemedStylesWithMdx-mdx-v2.mjs
  packages/preset-base/CHANGELOG.md
  packages/preset-base/README.md
  packages/preset-base/package.json
Owners: @hasparus

bump package.json version
  packages/preset-base/package.json
  packages/preset-base/src/index.ts
  packages/preset-bootstrap/CHANGELOG.md
Owners: @hasparus

tcp_yeah: don't set ssthresh below 2
  packages/preset-bootstrap/CHANGELOG.md
Owners: @hasparus

5.0.4
  packages/preset-bootstrap/CHANGELOG.md
  packages/preset-bootstrap/README.md
  packages/preset-bootstrap/package.json
  packages/preset-bootstrap/src/index.ts
  packages/preset-bulma/CHANGELOG.md
Owners: @hasparus

for heroku
  packages/preset-bulma/CHANGELOG.md
  packages/preset-bulma/README.md
Owners: @hasparus

netfilter: x_tables: check for size overflow
  packages/preset-bulma/README.md
  packages/preset-bulma/package.json
  packages/preset-dark/CHANGELOG.md
Owners: @hasparus

ath9k: Use minstrel rate control by default
  packages/preset-dark/CHANGELOG.md
  packages/preset-dark/README.md
  packages/preset-dark/package.json
  packages/preset-dark/src/index.ts
Owners: @hasparus

Regenerate gemspec for version 1.2.2
  packages/preset-dark/src/index.ts
Owners: @hasparus

Upload current code
  packages/preset-deep/CHANGELOG.md
  packages/preset-deep/README.md
  packages/preset-deep/package.json
  packages/preset-deep/src/index.ts
  packages/preset-funk/CHANGELOG.md
Owners: @hasparus

fixed typo in comment
  packages/preset-funk/CHANGELOG.md
Owners: @hasparus

chore : refactor
  packages/preset-funk/README.md
  packages/preset-funk/package.json
  packages/preset-future/CHANGELOG.md
  packages/preset-future/README.md
  packages/preset-future/package.json
  packages/preset-polaris/CHANGELOG.md
Owners: @hasparus

Update contact
  packages/preset-polaris/CHANGELOG.md
  packages/preset-polaris/README.md
  packages/preset-polaris/package.json
Owners: @hasparus

.github/CODEOWNERS:

# Hi there!
# If you're using one of Theme UI packages a lot, and you would like to help
# maintaining it, let us know on our Discord https://discord.gg/U5sQYcuaj2.
# As you can see below, there are tons of packages here, and they are always
# looking for maintainers. The more the merrier!

**/types.ts @hasparus
**/types.tsx @hasparus

packages/color @hasparus
packages/color-modes @hasparus
packages/components @atanasster
packages/core @hasparus
packages/css @hasparus
packages/custom-properties @hasparus
packages/docs @lachlanjc @hasparus
# packages/gatsby-plugin-theme-ui looking for maintainers! 
# packages/gatsby-theme-style-guide looking for maintainers!
# packages/gatsby-theme-ui-layout looking for maintainers!
packages/match-media @hasparus
packages/mdx @hasparus
packages/parse-props @hasparus
packages/preset-base @hasparus
packages/preset-bootstrap @hasparus
packages/preset-bulma @hasparus
packages/preset-dark @hasparus
packages/preset-deep @hasparus
packages/preset-funk @hasparus
packages/preset-future @hasparus
packages/preset-polaris @hasparus
packages/preset-roboto @hasparus
packages/presets @hasparus
packages/preset-sketchy @hasparus @beerose
packages/preset-swiss @hasparus
packages/preset-system @hasparus
packages/preset-tailwind @hasparus
packages/preset-tosh @hasparus
packages/prism @hasparus
packages/sidenav @hasparus
packages/style-guide @hasparus
packages/tachyons @hasparus
packages/tailwind @hasparus
packages/test-utils @hasparus
packages/theme-provider @hasparus
packages/theme-ui @hasparus
packages/typography @hasparus

# examples/codesandbox-starter
# examples/create-react-app
# examples/custom-pragma
# examples/dark-mode
# examples/gatsby
# examples/gatsby-plugin

examples/next @lachlanjc

# examples/prism 
# examples/typography
