Repository eightmen/experi-ncias, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hasparus, @atanasster, @lachlanjc, @beerose

.github/CODEOWNERS:

# Hi there!
# If you're using one of Theme UI packages a lot, and you would like to help
# maintaining it, let us know on our Discord https://discord.gg/U5sQYcuaj2.
# As you can see below, there are tons of packages here, and they are always
# looking for maintainers. The more the merrier!

**/types.ts @hasparus
**/types.tsx @hasparus

packages/color @hasparus
packages/color-modes @hasparus
packages/components @atanasster
packages/core @hasparus
packages/css @hasparus
packages/custom-properties @hasparus
packages/docs @lachlanjc @hasparus
# packages/gatsby-plugin-theme-ui looking for maintainers! 
# packages/gatsby-theme-style-guide looking for maintainers!
# packages/gatsby-theme-ui-layout looking for maintainers!
packages/match-media @hasparus
packages/mdx @hasparus
packages/parse-props @hasparus
packages/preset-base @hasparus
packages/preset-bootstrap @hasparus
packages/preset-bulma @hasparus
packages/preset-dark @hasparus
packages/preset-deep @hasparus
packages/preset-funk @hasparus
packages/preset-future @hasparus
packages/preset-polaris @hasparus
packages/preset-roboto @hasparus
packages/presets @hasparus
packages/preset-sketchy @hasparus @beerose
packages/preset-swiss @hasparus
packages/preset-system @hasparus
packages/preset-tailwind @hasparus
packages/preset-tosh @hasparus
packages/prism @hasparus
packages/sidenav @hasparus
packages/style-guide @hasparus
packages/tachyons @hasparus
packages/tailwind @hasparus
packages/test-utils @hasparus
packages/theme-provider @hasparus
packages/theme-ui @hasparus
packages/typography @hasparus

# examples/codesandbox-starter
# examples/create-react-app
# examples/custom-pragma
# examples/dark-mode
# examples/gatsby
# examples/gatsby-plugin

examples/next @lachlanjc

# examples/prism 
# examples/typography

Better icon
  packages/components/src/Divider.tsx
  packages/components/src/Donut.tsx
  packages/components/src/Embed.tsx
  packages/components/src/Field.tsx
Owners: @atanasster

constify
  packages/components/src/Field.tsx
  packages/components/src/Flex.tsx
  packages/components/src/Grid.tsx
Owners: @atanasster

Fixed gitignore
  packages/components/src/Grid.tsx
  packages/components/src/Heading.tsx
  packages/components/src/IconButton.tsx
  packages/components/src/Image.tsx
  packages/components/src/Input.tsx
  packages/components/src/Label.tsx
  packages/components/src/Link.tsx
  packages/components/src/MenuButton.tsx
Owners: @atanasster

New translations Resources.resx (Swedish)
  packages/components/src/MenuButton.tsx
  packages/components/src/Message.tsx
  packages/components/src/NavLink.tsx
  packages/components/src/Paragraph.tsx
  packages/components/src/Progress.tsx
Owners: @atanasster

whitespace only
  packages/components/src/Progress.tsx
  packages/components/src/Radio.tsx
  packages/components/src/SVG.tsx
  packages/components/src/Select.tsx
Owners: @atanasster

Update chapter2.md
  packages/components/src/Select.tsx
  packages/components/src/Slider.tsx
Owners: @atanasster

[ci skip] create nightly packages and update changelog
  packages/components/src/Slider.tsx
  packages/components/src/Spinner.tsx
  packages/components/src/Switch.tsx
Owners: @atanasster

newer
  packages/components/src/Switch.tsx
  packages/components/src/Text.tsx
  packages/components/src/Textarea.tsx
  packages/components/src/index.ts
Owners: @atanasster

initial impl
  packages/components/src/index.ts
  packages/components/src/types.ts
  packages/components/src/util.ts
  packages/components/test/Box.spec.tsx
  packages/components/test/Button.spec.tsx
  packages/components/test/Flex.spec.tsx
  packages/components/test/Grid.spec.tsx
Owners: @atanasster

Fix mispelling
  packages/components/test/Grid.spec.tsx
  packages/components/test/SVG.spec.tsx
  packages/components/test/Switch.spec.tsx
  packages/components/test/__snapshots__/Box.spec.tsx.snap
Owners: @atanasster

adding gems and assets back after successful heroku deploy
  packages/components/test/__snapshots__/Box.spec.tsx.snap
  packages/components/test/__snapshots__/Button.spec.tsx.snap
  packages/components/test/__snapshots__/Grid.spec.tsx.snap
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Update UDPefef
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Synchronizing with symfony svn
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

levels
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

1.0.35
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Version Bump.
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Synchronizing Doctrine 1 SVN with git
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

mm: Dynamic management of dirty page writebacks
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Prepare 0.2.9 release
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Create 3.html
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Release 1.0.1
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Add upgrade instructions
  packages/components/test/__snapshots__/index.tsx.snap
Owners: @atanasster

Add Czech translation
  packages/components/test/__snapshots__/index.tsx.snap
  packages/components/test/__test-utils__/index.tsx
Owners: @atanasster

Updated changelog and bumped version
  packages/components/test/__test-utils__/index.tsx
  packages/components/test/index.tsx
Owners: @atanasster

Add a missing import
  packages/components/test/index.tsx
Owners: @atanasster

Fix broken link in README
  packages/components/test/index.tsx
Owners: @atanasster

Update build-osx.md
  packages/components/test/index.tsx
Owners: @atanasster

Procfile
  packages/components/test/index.tsx
  packages/components/test/types.tsx
Owners: @atanasster

Add photos
  packages/components/test/types.tsx
  packages/core/CHANGELOG.md
Owners: @atanasster, @hasparus

Updated readme
  packages/core/CHANGELOG.md
Owners: @hasparus

format fix
  packages/core/CHANGELOG.md
Owners: @hasparus

Added translation using Weblate (Portuguese (Portugal))
  packages/core/CHANGELOG.md
  packages/core/README.md
  packages/core/jsx-dev-runtime/package.json
  packages/core/jsx-runtime/package.json
  packages/core/package.json
  packages/core/src/index.ts
Owners: @hasparus

Add test target
  packages/core/src/index.ts
  packages/core/src/jsx-dev-runtime.ts
  packages/core/src/jsx-namespace.ts
  packages/core/src/jsx-runtime.ts
Owners: @hasparus

Wow
  packages/core/src/jsx-runtime.ts
  packages/core/src/parseProps.tsx
  packages/core/test/__snapshots__/index.tsx.snap
  packages/core/test/__snapshots__/react-jsx.tsx.snap
  packages/core/test/index.tsx
Owners: @hasparus

Main Menu
  packages/core/test/index.tsx
Owners: @hasparus

Update api.py
  packages/core/test/index.tsx
Owners: @hasparus

Fix alignment.
  packages/core/test/index.tsx
Owners: @hasparus

Try again.
  packages/core/test/index.tsx
  packages/core/test/jsx-dev-runtime.ts
  packages/core/test/jsx-runtime.ts
  packages/core/test/parseProps.tsx
  packages/core/test/react-jsx.tsx
  packages/css/CHANGELOG.md
Owners: @hasparus

fixing compile error
  packages/css/CHANGELOG.md
  packages/css/README.md
  packages/css/package.json
  packages/css/src/index.ts
Owners: @hasparus

add travis settings
  packages/css/src/index.ts
  packages/css/src/options.ts
  packages/css/src/types.ts
Owners: @hasparus
